@import "tailwindcss";

@theme {
  /* Fonts */
  --font-family-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
  'Courier New', monospace;
  --font-family-cal: var(--font-cal);
  --font-family-display: var(--font-cal);

  /* Colors */
  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(240 10% 3.9%);
  --color-card: hsl(0 0% 100%);
  --color-card-foreground: hsl(240 10% 3.9%);
  --color-popover: hsl(0 0% 100%);
  --color-popover-foreground: hsl(240 10% 3.9%);
  --color-primary: hsl(346.8 77.2% 49.8%);
  --color-primary-foreground: hsl(355.7 100% 97.3%);
  --color-secondary: hsl(240 4.8% 95.9%);
  --color-secondary-foreground: hsl(240 5.9% 10%);
  --color-muted: hsl(240 4.8% 95.9%);
  --color-muted-foreground: hsl(240 3.8% 46.1%);
  --color-accent: hsl(240 4.8% 95.9%);
  --color-accent-foreground: hsl(240 5.9% 10%);
  --color-destructive: hsl(0 84.2% 60.2%);
  --color-destructive-foreground: hsl(0 0% 98%);
  --color-border: hsl(240 5.9% 90%);
  --color-input: hsl(240 5.9% 90%);
  --color-ring: hsl(346.8 77.2% 49.8%);
  --radius: hsl(0.5rem);
}

.dark {
  --color-background: hsl(20 14.3% 4.1%);
  --color-foreground: hsl(0 0% 95%);
  --color-card: hsl(241.82 10.838% 3.9474%);
  --color-card-foreground: hsl(0 0% 95%);
  --color-popover: hsl(0 0% 9%);
  --color-popover-foreground: hsl(0 0% 95%);
  --color-primary: hsl(346.8 77.2% 49.8%);
  --color-primary-foreground: hsl(355.7 100% 97.3%);
  --color-secondary: hsl(240 3.7% 15.9%);
  --color-secondary-foreground: hsl(0 0% 98%);
  --color-muted: hsl(0 0% 15%);
  --color-muted-foreground: hsl(240 5% 64.9%);
  --color-accent: hsl(12 6.5% 15.1%);
  --color-accent-foreground: hsl(0 0% 98%);
  --color-destructive: hsl(0 62.8% 30.6%);
  --color-destructive-foreground: hsl(0 85.7% 97.3%);
  --color-border: hsl(240 3.7% 15.9%);
  --color-input: hsl(240 3.7% 15.9%);
  --color-ring: hsl(346.8 77.2% 49.8%);
}

* {
  border-color: var(--color-border); 
}

/**
 * MDX Typography
 */
.typography {
  --typography-body: var(--color-gray-600); 
  --typography-headings: var(--color-gray-900);
  --typography-bold: var(--color-gray-900);

  color: var(--typography-body);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-6);
}

.dark .typography {
  --typography-body: var(--color-gray-300);
  --typography-headings: var(--color-white);
  --typography-bold: var(--color-white);
}
  

  
.typography h2 {
    font-family: var(--font-cal);
    color: var(--typography-headings);
    font-weight: 600;
    font-size: var(--font-size-xl);
    line-height: var(--line-height-8);
}

  /* Headings */
.typography  h3 {
    color: var(--typography-headings);
    font-family: var(--font-cal);
    font-weight: 600;
    font-size: var(--font-size-base);
    line-height: var(--line-height-6);
    display: flex;
    align-items: center;
    column-gap: var(--spacing-3);
  }

  /* Inline text */
  .typography  strong {
    font-weight: 600;
  }

  .typography strong:not(a strong) {
    color: var(--typography-bold);
  }

  /* Spacing */
  .typography > * {
    margin-top: var(--spacing-6);
  }

  .typography :is(h2, h3, h4) {
    margin-top: var(--spacing-8);
  }

  .typography :is(h2, h3, h4) + * {
    margin-top: var(--spacing-4);
  }
